<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ asset ("css/style.css") }}" />
        <link rel="stylesheet" href="{{ asset ("css/nivo-slider.css") }}" type="text/css" media="screen" />
        <link rel="stylesheet" href="{{ asset ("css/default/default.css") }}" type="text/css" media="screen" />

        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>{% block title %}Planet Movie{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        
        {% block js %}
        {%endblock %}
    </body>
</html>




